<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="container">
        <div *ngIf="comments">
            <div class="row mb-3" *ngFor="let comment of comments">
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <img src="../../assets/avatar.webp" alt="avatar" class="avatar">
                </div>
                <div class="col-10 p-0">
                    <div class="card" [ngClass]="{'bg-primary-subtle': comment.user.id === userId}">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-grid w-100">
                                    <strong>{{ comment.user.username }}</strong>
                                    <div>{{ comment.createdAt | date:"EEE, MMM dd, yyyy 'at' HH:mm" }}</div>
                                </div>
                                <div class="d-flex flex-nowrap gap-2 align-items-center">
                                    <div *ngIf="comment.user.id === userId" ngbDropdown class="d-inline-block">
                                        @if (edit === true && comment.id === editingCommentId) {
                                            <span>Editing...</span>
                                        } @else {
                                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button ngbDropdownItem (click)="editingComment(comment.id!, comment.body!)">Edit</button>
                                                <button ngbDropdownItem class="text-danger" (click)="openDeleteConfirmModal(comment.id!)">Delete</button>
                                            </div> 
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @if (edit === true && comment.id === editingCommentId) {
                                <p class="card-text placeholder-glow d-flex gap-2 flex-wrap">
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-3"></span>
                                    <span class="placeholder col-3"></span>
                                    <span class="placeholder col-5"></span>
                                </p>
                            } @else {
                                {{ comment.body }}
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!lastComment) {
            <div *ngIf="commentLoading" class="loading-container-inplace d-flex justify-content-center">
                <div class="loader" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        } @else {
            <div class="text-sm-center text-secondary">You have seen all the comments.</div>
        }
    </div>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <form [formGroup]="commentForm">
            <div class="input-group">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Write your comment here..."
                    formControlName="body"
                    [ngClass]="{'is-invalid': cf['body'].errors}"
                >
                @if (edit === true) {
                    <button class="btn btn-outline-secondary" type="button" [disabled]="commentForm.invalid" (click)="updateComment()">Edit</button>
                    <button class="btn btn-outline-danger" type="button" (click)="cancleEditingComment()">Cancel</button>
                } @else {
                    <button class="btn btn-outline-secondary" type="button" [disabled]="commentForm.invalid" (click)="commentFormSubmit()">Comment</button>
                }
            </div>
        </form> 
    </div>
</div>