<div class="container-fluid justify-content-center">
    <div class="row">
        <div class="web-banner-container">
            <h1 class="banner-text-top">JOYTY</h1>
            <img src="assets\2650149.jpg" class="img-fluid">
        </div>
    </div>
    <section id="section1">
        <div class="row p-5">
            <div class="col">
                <img src="assets\3312645.jpg" class="img-thumbnail" style="height: 400px; width: 600px;">
            </div>
            <div class="col align-content-between">
                <h1>Can't find a friends to hangout with?</h1>
                <h4>
                    Introducing Joyty, the ultimate solution for those times when you can't find friends to hang out with. 
                    Joyty is a dynamic social platform designed to connect you with like-minded individuals in your area, 
                    making it easier than ever to find new friends and share exciting experiences.
                </h4>
            </div>
        </div>
        <div class="row p-5">
            <div class="col align-content-between">
                <h1>Doesn't have anything to do on this weekend?</h1>
                <h4>
                    Whether you're looking to join a casual meetup, participate in group activities, or simply make new connections, 
                    Joyty provides a seamless and user-friendly interface to help you discover and engage with people who share your interests
                </h4>
            </div>
            <div class="col">
                <img src="assets\3559203.jpg" class="img-thumbnail" style="height: 400px; width: 600px;">
            </div>
        </div>
        <div class="row p-5">
            <div class="col">
                <img src="assets\5843.jpg" class="img-thumbnail" style="height: 400px; width: 600px;">
            </div>
            <div class="col align-content-between">
                <h1>Having a hard time on your older social platform?</h1>
                <h4>
                    Joyty makes it easy to turn free time into memorable moments, helping you build a diverse social network effortlessly. 
                    Whether you're new in town or just looking to expand your circle, Joyty is your go-to companion for finding friends and creating lasting memories.
                </h4>
            </div>
        </div>
    </section>
    <section id="section2">
            <div class="web-banner-container">
                <img src="assets\3353860.jpg" style="height: 500px; width: 500px;">
                <a role="button" href="/register" class="btn btn-primary banner-button-bottom" routerLink="/register">REGISTER</a>
            </div>
    </section>
</div>