.col .sticky-top {
    align-self: flex-start;
}

/* .post-scroll {
    height: calc(100vh - 77px);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.container-fluid {
    overflow-y: scroll;
    height: calc(100vh - 77px);
}