<div class="container-fluid mt-3">
    @if (currentUser) {
        <div class="row">
            <div class="col-3">
                <nav class="nav nav-pills flex-column border" role="tablist">
                    <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#personal-tab">
                        <img src="./assets/user.svg" width="15" height="15"/>  Personal info</a>
                    <a class="nav-link" role="tab" data-bs-toggle="tab" href="#security-tab">
                        <img src="./assets/lock.svg" width="15" height="15"/>  Email and Password</a>
                    <a class="nav-link" role="tab" data-bs-toggle="tab" href="#contact-tab">
                        <img src="./assets/whatsapp.svg" width="15" height="15"/>  Contact and Social</a>
                    <a class="nav-link" role="tab" data-bs-toggle="tab" href="#location-tab">
                        <img src="./assets/marker.svg" width="15" height="15"/>  Location</a>
                </nav>
            </div>
            <div class="col-9 border">
                <div class="tab-content mt-2">
                    <div class="tab-pane fade show active" id="personal-tab" role="tabpanel">
                        <h5>Personal info</h5>
                        <hr />
                        <div class="accordion accordion-flush" id="personalInfoAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="usernameHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#usernameCollapse" aria-expanded="false" aria-controls="usernameCollapse">
                                        <div class="col-sm-3" for="usernameShow">Username:</div>
                                        <div id="usernameShow">{{ userData.username }}</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="usernameCollapse" aria-labelledby="usernameHeading" data-bs-parent="#personalInfoAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="usernameForm" (ngSubmit)="usernameFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="username">Username:</label>
                                                <div class="col-sm-6">
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        id="username"
                                                        name="username"
                                                        formControlName="username"
                                                        [ngClass]="{'is-invalid': uf['username'].errors}"
                                                    />
                                                    @if (uf['username'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (uf['username'].errors['required']) {
                                                                <div>Username is required!</div>
                                                            }
                                                            @if (uf['username'].errors['minlength']) {
                                                                <div>Username must be at least 3 character.</div>
                                                            }
                                                            @if (uf['username'].errors['maxlength']) {
                                                                <div>Username must be at most 20 character.</div>
                                                            }
                                                            @if (uf['username'].errors['isExists']) {
                                                                <div>Username is already taken.</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button" class="btn btn-outline-success" [disabled]="usernameForm.invalid" (click)="onUsernameSubmit()">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="fullNameHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fullNameCollapse" aria-expanded="false" aria-controls="fullNameCollapse">
                                        <div class="col-sm-3" for="fullNameShow">Full Name:</div>
                                        <div id="fullNameShow">{{ userData.firstName }} {{ userData.lastName }}</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="fullNameCollapse" aria-labelledby="fullNameHeading" data-bs-parent="#personalInfoAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="nameForm" (ngSubmit)="nameFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="firstname">Firstname:</label>
                                                <div class="col-sm-6">
                                                    <input 
                                                        type="text"
                                                        class="form-control"
                                                        name="firstName"
                                                        formControlName="firstName"
                                                        [ngClass]="{'is-invalid': nf['firstName'].errors}"

                                                    />
                                                    @if (nf['firstName'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (nf['firstName'].errors['required']) {
                                                                <div>First name is required!</div>
                                                            }
                                                            @if (nf['firstName'].errors['minlength']) {
                                                                <div>First name must be at least 3 character.</div>
                                                            }
                                                            @if (nf['firstName'].errors['maxlength']) {
                                                                <div>First name must be at most 30 character.</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <label class="col-sm-3 col-form-label" for="lastname">Lastname:</label>
                                                <div class="col-sm-6">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        name="lastName"
                                                        formControlName="lastName"
                                                        [ngClass]="{'is-invalid': nf['lastName'].errors}"

                                                    />
                                                    @if (nf['lastName'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (nf['lastName'].errors['required']) {
                                                                <div>Last name is required!</div>
                                                            }
                                                            @if (nf['lastName'].errors['minlength']) {
                                                                <div>Last name must be at least 3 character.</div>
                                                            }
                                                            @if (nf['lastName'].errors['maxlength']) {
                                                                <div>Last name must be at most 30 character.</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button submit" class="btn btn-outline-success" [disabled]="nameForm.invalid">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="dobHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dobCollapse" aria-expanded="false" aria-controls="dobCollapse">
                                        <div class="col-sm-3" for="dobShow">Date of birth:</div>
                                        <div id="dobShow">{{ userData.dateOfBirth }}</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="dobCollapse" aria-labelledby="dobHeading" data-bs-parent="#personalInfoAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="dateOfBirthForm" (ngSubmit)="dateOfBirthFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="dateOfBirth">Date of birth:</label>
                                                <div class="col-sm-6">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        name="dateOfBirth"
                                                        id="dateOfBirth"
                                                        placeholder="YYYY-MM-DD"
                                                        bsDatepicker
                                                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', isAnimated: true, adaptivePosition: true}"
                                                        formControlName="dateOfBirth"
                                                        [ngClass]="{'is-invalid': df['dateOfBirth'].errors}"
                                                    />
                                                    @if (df['dateOfBirth'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (df['dateOfBirth'].errors['required']) {
                                                                <div>Date of birth is required!</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button submit" class="btn btn-outline-success" [disabled]="dateOfBirthForm.invalid">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="genderHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genderCollapse" aria-expanded="false" aria-controls="genderCollapse">
                                        <div class="col-sm-3" for="genderShow">Gender:</div>
                                        <div id="genderShow">{{ userData.gender }}</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="genderCollapse" aria-labelledby="genderHeading" data-bs-parent="#personalInfoAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="genderForm" (ngSubmit)="genderFormSubmit()">
                                            <label class="col-sm-3 form-check-label" for="gender">Gender:</label>
                                            <div class="form-check form-check-inline">
                                                <input
                                                    class="form-check-input is-invalid"
                                                    type="radio"
                                                    name="gender"
                                                    id="gender_male"
                                                    value="male"
                                                    formControlName="gender"
                                                    [ngClass]="{'is-invalid': gf['gender'].errors}"
                                                />
                                                <label class="form-check-label" for="gender_male">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input
                                                    class="form-check-input is-invalid"
                                                    type="radio"
                                                    name="gender"
                                                    id="gender_female"
                                                    value="female"
                                                    formControlName="gender"
                                                    [ngClass]="{'is-invalid': gf['gender'].errors}"
                                                />
                                                <label class="form-check-label" for="gender_female">Female</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input
                                                    class="form-check-input is-invalid"
                                                    type="radio"
                                                    name="gender"
                                                    id="gender_other"
                                                    value="other"
                                                    formControlName="gender"
                                                    [ngClass]="{'is-invalid': gf['gender'].errors}"
                                                />
                                                <label class="form-check-label" for="gender_other">Other</label>
                                            </div>
                                            @if (gf['gender'].errors) {
                                                <div class="invalid-feedback">
                                                    @if (gf['gender'].errors['required']) {
                                                        <div>Gender is required!</div>
                                                    }
                                                </div>
                                            }
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button submit" class="btn btn-outline-success" [disabled]="genderForm.invalid">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="security-tab" role="tabpanel">
                        <h5>Email and Password</h5>
                        <hr />
                        <div class="accordion accordion-flush" id="securityAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="emailHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emailCollapse" aria-expanded="false" aria-controls="emailCollapse">
                                        <div class="col-sm-3" for="emailShow">Email:</div>
                                        <div id="emailShow">{{ userData.email }}</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="emailCollapse" aria-labelledby="emailHeading" data-bs-parent="#securityAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="emailForm" (ngSubmit)="emailFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="email">Email:</label>
                                                <div class="col-sm-6">
                                                    <input 
                                                        type="email" 
                                                        class="form-control-plaintext" 
                                                        id="email"
                                                        name="email"
                                                        formControlName="email"
                                                        [ngClass]="{'is-invalid': ef['email'].errors}"
                                                    />
                                                    @if (ef['email'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (ef['email'].errors['required']) {
                                                                <div>Email is required!</div>
                                                            }
                                                            @if (ef['email'].errors['email']) {
                                                                <div>Email must be a valid email address.</div>
                                                            }
                                                            @if (ef['email'].errors['isExists']) {
                                                                <div>Email is already in use.</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button submit" class="btn btn-outline-success" [disabled]="emailForm.invalid">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="passwordHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#passwordCollapse" aria-expanded="false" aria-controls="passwordCollapse">
                                        <div class="col-sm-3" for="passwordShow">Password:</div>
                                        <div type="password" id="passwordShow">Reset password.</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="passwordCollapse" aria-labelledby="passwordHeading" data-bs-parent="#securityAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="passwordForm" (ngSubmit)="passwordFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="password">New Password:</label>
                                                <div class="col-sm-6">
                                                    <input 
                                                        type="password" 
                                                        class="form-control-plaintext" 
                                                        id="password"
                                                        name="password"
                                                        placeholder="Enter your new password here."
                                                        formControlName="password"
                                                        [ngClass]="{'is-invalid': pf['password'].errors}"
                                                    />
                                                    @if (pf['password'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (pf['password'].errors['required']) {
                                                                <div>Password is required!</div>
                                                            }
                                                            @if (pf['password'].errors['minlength']) {
                                                                <div>Password must be at least 8 character.</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <label class="col-sm-3 col-form-label" for="confirmPassword">Confirm New Password:</label>
                                                <div class="col-sm-6">
                                                    <input 
                                                        type="password" 
                                                        class="form-control-plaintext" 
                                                        id="confirmPassword"
                                                        name="confirmPassword"
                                                        placeholder="Confirm your new password."
                                                        formControlName="confirmPassword"
                                                        [ngClass]="{'is-invalid': pf['confirmPassword'].errors}"
                                                    />
                                                    @if (pf['confirmPassword'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (pf['confirmPassword'].errors['required']) {
                                                                <div>Please confirm your new password!</div>
                                                            }
                                                            @if (pf['confirmPassword'].errors['matching']) {
                                                                <div>Password does not match!</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button" class="btn btn-outline-success" [disabled]="passwordForm.invalid" (click)="onPasswordSubmit()">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-tab" role="tabpanel">
                        <h5>Contact and Social</h5>
                        <hr />
                        <div class="accordion accordion-flush" id="contactAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="phoneNumberHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#phoneNumberCollapse" aria-expanded="false" aria-controls="phoneNumberCollapse">
                                        <div class="col-sm-3" for="phoneNumberShow">Phone Number:</div>
                                        <div id="phoneNumberShow">{{ userData.phoneNumber }}</div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="phoneNumberCollapse" aria-labelledby="phoneNumberHeading" data-bs-parent="#contactAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="phoneNumberForm" (ngSubmit)="phoneNumberFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="phoneNumber">Phone Number:</label>
                                                <div class="col-sm-6">
                                                    <input 
                                                        type="tel" 
                                                        class="form-control" 
                                                        id="phoneNumber"
                                                        name="phoneNumber"
                                                        formControlName="phoneNumber"
                                                        [ngClass]="{'is-invalid': phf['phoneNumber'].errors}"
                                                    />
                                                    @if (phf['phoneNumber'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (phf['phoneNumber'].errors['required']) {
                                                                <div>Phone number is required!</div>
                                                            }
                                                            @if (phf['phoneNumber'].errors['pattern']) {
                                                                <div>Phone number must be a valid number.</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button submit" class="btn btn-outline-success" [disabled]="phoneNumberForm.invalid">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="location-tab" role="tabpanel">
                        <h5>Location</h5>
                        <hr />
                        <div class="accordion accordion-flush" id="locationAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="locationHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#locationCollapse" aria-expanded="false" aria-controls="locationCollapse">
                                        <div class="col-sm-3" for="locationShow">Location:</div>
                                        <div id="locationShow">
                                            @if (userData.city !== null && userData.city !== "") {
                                                {{ userData.city }},
                                            }
                                            @if (userData.state !== null && userData.state !== "") {
                                                {{ userData.state }},
                                            }
                                            {{ userData.country }}
                                        </div>
                                    </button>
                                </h2>
                                <div class="accordion-collapse collapse" id="locationCollapse" aria-labelledby="locationHeading" data-bs-parent="#locationAccordion">
                                    <div class="accordion-body">
                                        <form [formGroup]="locationForm" (ngSubmit)="locationFormSubmit()">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label" for="country">Country:</label>
                                                <div class="col-sm-6">
                                                    <select 
                                                        class="form-select" 
                                                        id="country"
                                                        name="country"
                                                        (change)="onCountryChange($event)" 
                                                        [(ngModel)]="selectedCountry"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [ngClass]="{'is-invalid': lf['country'].errors}"
                                                    >
                                                        <option [ngValue]="null">-- Select Your Country --</option>
                                                        <option *ngFor="let country of countries" [ngValue]="country">{{ country.flag }}&nbsp;&nbsp;{{ country.name }}</option>
                                                    </select>
                                                    @if (lf['country'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (lf['country'].errors['required']) {
                                                                <div>Country is required!</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <label class="col-sm-3 col-form-label" for="state">State:</label>
                                                <div class="col-sm-6">
                                                    <select 
                                                        class="form-select" 
                                                        id="state"
                                                        name="state"
                                                        (change)="onStateChange($event)" 
                                                        [(ngModel)]="selectedState"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [ngClass]="{'is-invalid': lf['state'].errors}"
                                                    >
                                                        <option [ngValue]="null">-- Select Your State --</option>
                                                        <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                                                    </select>
                                                    @if (lf['state'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (lf['state'].errors['required']) {
                                                                <div>State is required!</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <label class="col-sm-3 col-form-label" for="city">City:</label>
                                                <div class="col-sm-6">
                                                    <select 
                                                        class="form-select" 
                                                        id="city"
                                                        name="city"
                                                        (change)="onCityChange($event)" 
                                                        [(ngModel)]="selectedCity"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [ngClass]="{'is-invalid': lf['city'].errors}"
                                                    >
                                                        <option [ngValue]="null">-- Select Your City --</option>
                                                        <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                                                    </select>
                                                    @if (lf['city'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if (lf['city'].errors['required']) {
                                                                <div>City is required!</div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-3 d-grid d-flex justify-content-end">
                                                <button type="button submit" class="btn btn-outline-success" [disabled]="locationForm.invalid">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <p>Please login.</p>
    }
</div>
<app-confirm-dialog 
    #updateUsernameConfirm 
    (newConfirmationEvent)="getUpdateUsernameConfirmation($event)" 
    [modalStyle]="usernameConfirmModalStyle"
    [modalTitle]="usernameConfirmModalTitle" 
    [modalBody]="usernameConfirmModalBody"
    [modalButtonColor]="usernameConfirmModalButtonColor"
>
</app-confirm-dialog>
<app-confirm-dialog 
    #updatePasswordConfirm 
    (newConfirmationEvent)="getUpdatePasswordConfirmation($event)" 
    [modalStyle]="passwordConfirmModalStyle"
    [modalTitle]="passwordConfirmModalTitle"
    [modalBody]="passwordConfirmModalBody"
    [modalButtonColor]="passwordConfirmModalButtonColor"
>
</app-confirm-dialog>