<div class="modal-header">
    @if (edit === true) {
        <h4 class="modal-title" id="modal-basic-title">EDIT POST</h4>
    } @else {
        <h4 class="modal-title" id="modal-basic-title">CREATE POST</h4>
    }
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="postForm">
        <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label">Description:</label>
                <textarea 
                    class="form-control" 
                    id="description"
                    name="description"
                    rows="3"
                    formControlName="body"
                    [ngClass]="{'is-invalid': pf['body'].errors}"
                ></textarea>
                @if (pf['body'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['body'].errors['required']) {
                            <div>Description is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                @if (edit === true) {
                    <app-place-auto-complete [placeInit]="place" (placeChanged)="place = $event; onPlaceChange(place)"></app-place-auto-complete>
                    <app-map [lat]="place.location!.lat()" [lng]="place.location!.lng()" [place]="place"></app-map>
                } @else {
                    <app-place-auto-complete (placeChanged)="place = $event; onPlaceChange(place)"></app-place-auto-complete>
                    <app-map [place]="place"></app-map>
                }
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col">
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        ngbDatepicker
                        #dp="ngbDatepicker"
                        
                        formControlName="meetingDate"
                        [footerTemplate]="datePickerFooter"
                        [placement]="'right'"
                        [ngClass]="{'is-invalid': pf['meetingDate'].errors}"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
                    @if (pf['meetingDate'].errors) {
                        <div class="invalid-feedback">
                            @if (pf['meetingDate'].errors['required']) {
                                <div>Date is required!</div>
                            }
                        </div>
                    }
                </div>
                <ng-template #datePickerFooter>
                    <hr class="my-0" />
                    <button class="btn btn-primary btn-sm m-2 float-start" (click)="pf['meetingDate'].setValue(today); dp.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="dp.close()">Close</button>
                </ng-template>
            </div>
            <div class="col">
                <ngb-timepicker 
                    name="time" 
                    formControlName="meetingTime"
                    [minuteStep]="5" 
                    [ngClass]="{'is-invalid': pf['meetingTime'].errors}"
                />
                @if (pf['meetingTime'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['meetingTime'].errors['required']) {
                            <div>Time is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">Size</span>
                    <div class="form-floating">
                        <input 
                            type="number" 
                            class="form-control" 
                            id="size" 
                            name="size"
                            placeholder="Size" 
                            min="1" 
                            value="1"
                            formControlName="partySize"
                            [ngClass]="{'is-invalid': pf['partySize'].errors}"
                        >
                        <label for="size">Size</label>
                    </div>
                    @if (pf['partySize'].errors) {
                        <div class="invalid-feedback">
                            @if (pf['partySize'].errors['required']) {
                                <div>Size is required!</div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input 
                            type="number" 
                            class="form-control" 
                            id="cost" 
                            name="cost"
                            placeholder="Cost" 
                            min="0" 
                            value="0"
                            formControlName="costEstimate"
                            [ngClass]="{'is-invalid': pf['costEstimate'].errors}"
                        >
                        <label for="cost">Cost</label>
                    </div>
                    @if (pf['costEstimate'].errors) {
                        <div class="invalid-feedback">
                            @if (pf['costEstimate'].errors['required']) {
                                <div>Cost is required!</div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <div class="col">
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox"
                        value=true 
                        id="costShare"
                        name="costShare"
                        formControlName="costShare"
                        checked
                    >
                    <label class="form-check-label" for="costShare">
                        Cost Share
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="selectedTags" class="row mb-3">
            <div class="d-flex flex-wrap justify-content-start gap-2">
                <span class="badge rounded-pill text-bg-primary" *ngFor="let tag of selectedTags">{{ tag.tagname }}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="d-grid">
                <button class="btn btn-outline-secondary" type="button" (click)="openTagModal()">Add Tags</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close(postForm)">Save</button>
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Cancel</button>
</div>