<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">POST</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="postForm">
        <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label">Description:</label>
                <textarea 
                    class="form-control" 
                    id="description"
                    name="description"
                    rows="3"
                    formControlName="body"
                    [ngClass]="{'is-invalid': pf['body'].errors}"
                ></textarea>
                @if (pf['body'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['body'].errors['required']) {
                            <div>Description is required!</div>
                        }
                    </div>
                }
            </div>
            
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label" for="country">Country:</label>
            <div class="col">
                <select 
                    class="form-select" 
                    id="country"
                    name="country"
                    (change)="onCountryChange($event)" 
                    [(ngModel)]="selectedCountry"
                    [ngModelOptions]="{standalone: true}"
                    [ngClass]="{'is-invalid': pf['meeting_country'].errors}"
                >
                    <option [ngValue]="null">-- Select Your Country --</option>
                    <option *ngFor="let country of countries" [ngValue]="country">{{ country.flag }}&nbsp;&nbsp;{{ country.name }}</option>
                </select>
                @if (pf['meeting_country'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['meeting_country'].errors['required']) {
                            <div>Country is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label" for="state">State:</label>
            <div class="col">
                <select 
                    class="form-select" 
                    id="state"
                    name="state"
                    (change)="onStateChange($event)" 
                    [(ngModel)]="selectedState"
                    [ngModelOptions]="{standalone: true}"
                    [ngClass]="{'is-invalid': pf['meeting_state'].errors}"
                >
                    <option [ngValue]="null">-- Select Your State --</option>
                    <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                </select>
                @if (pf['meeting_state'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['meeting_state'].errors['required']) {
                            <div>State is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label" for="city">City:</label>
            <div class="col">
                <select 
                    class="form-select" 
                    id="city"
                    name="city"
                    (change)="onCityChange($event)" 
                    [(ngModel)]="selectedCity"
                    [ngModelOptions]="{standalone: true}"
                    [ngClass]="{'is-invalid': pf['meeting_city'].errors}"
                >
                    <option [ngValue]="null">-- Select Your City --</option>
                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                </select>
                @if (pf['meeting_city'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['meeting_city'].errors['required']) {
                            <div>City is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-3 col-form-label" for="location">Location:</label>
            <div class="col">
                <input
                    type="text"
                    class="form-control" 
                    id="location"
                    name="location"
                    formControlName="meeting_location"
                    [ngClass]="{'is-invalid': pf['meeting_location'].errors}"
                >
                @if (pf['meeting_location'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['meeting_location'].errors['required']) {
                            <div>Location is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col">
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        ngbDatepicker
                        #dp="ngbDatepicker"
                        
                        formControlName="meeting_date"
                        [footerTemplate]="datePickerFooter"
                        [placement]="'right'"
                        [ngClass]="{'is-invalid': pf['meeting_date'].errors}"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
                    @if (pf['meeting_date'].errors) {
                        <div class="invalid-feedback">
                            @if (pf['meeting_date'].errors['required']) {
                                <div>Date is required!</div>
                            }
                        </div>
                    }
                </div>
                <ng-template #datePickerFooter>
                    <hr class="my-0" />
                    <button class="btn btn-primary btn-sm m-2 float-start" (click)="pf['meeting_date'].setValue(today); dp.close()">Today</button>
                    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="dp.close()">Close</button>
                </ng-template>
            </div>
            <div class="col">
                <ngb-timepicker 
                    name="time" 
                    formControlName="meeting_time"
                    [minuteStep]="5" 
                    [ngClass]="{'is-invalid': pf['meeting_time'].errors}"
                />
                @if (pf['meeting_time'].errors) {
                    <div class="invalid-feedback">
                        @if (pf['meeting_time'].errors['required']) {
                            <div>Time is required!</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">Size</span>
                    <div class="form-floating">
                        <input 
                            type="number" 
                            class="form-control" 
                            id="size" 
                            name="size"
                            placeholder="Size" 
                            min="1" 
                            value="1"
                            formControlName="party_size"
                            [ngClass]="{'is-invalid': pf['party_size'].errors}"
                        >
                        <label for="size">Size</label>
                    </div>
                    @if (pf['party_size'].errors) {
                        <div class="invalid-feedback">
                            @if (pf['party_size'].errors['required']) {
                                <div>Size is required!</div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input 
                            type="number" 
                            class="form-control" 
                            id="cost" 
                            name="cost"
                            placeholder="Cost" 
                            min="0" 
                            value="0"
                            formControlName="cost_estimate"
                            [ngClass]="{'is-invalid': pf['cost_estimate'].errors}"
                        >
                        <label for="cost">Cost</label>
                    </div>
                    @if (pf['cost_estimate'].errors) {
                        <div class="invalid-feedback">
                            @if (pf['cost_estimate'].errors['required']) {
                                <div>Cost is required!</div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <div class="col">
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox"
                        value=true 
                        id="cost_share"
                        name="cost_share"
                        formControlName="cost_share"
                        checked
                    >
                    <label class="form-check-label" for="cost_share">
                        Cost Share
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="selectedTags" class="row mb-3">
            <div class="d-flex flex-wrap justify-content-start gap-2">
                <span class="badge rounded-pill text-bg-primary" *ngFor="let tag of selectedTags">{{ tag.tagname }}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="d-grid">
                <button class="btn btn-outline-secondary" type="button" (click)="openTagModal()">Add Tags</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close(postForm)">Save</button>
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss('Cross Click')">Cancel</button>
</div>