<div class="container-fluid mt-3">
    <div class="row">
        <div class="col align-content-center">A Side</div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <div class="row row-cols-1">
                <div class="col sticky-top">
                    <div class="card w-100 bg-dark-subtle">
                        <div class="card-header">
                            Create Post
                        </div>
                        <div class="card-body">
                            <button class="btn btn-block w-100" (click)="openPostModal()">Create your new post...</button>
                        </div>
                    </div>
                </div>
                <div>
                    <hr>
                </div>
                <div class="col mb-4" *ngFor="let post of postData">
                    <div class="card w-100" [ngClass]="{'bg-primary-subtle': post.author.id === userData.id}">
                        <div class="card-header">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto d-flex gap-2 align-items-center">
                                    @if ( post.author.profileImg ) {
                                        <img src="data:image/jpeg;base64,{{ post.author.profileImg.data }}" alt="avatar" class="avatar">
                                    } @else {
                                        <img src="../../assets/avatar.webp" alt="avatar" class="avatar">
                                    }
                                    <div class="d-grid w-100">
                                        <strong>{{ post.author.username }}</strong>
                                        <div>{{ post.createdAt | date:"EEE, MMM dd, yyyy 'at' HH:mm" }}</div>
                                    </div>
                                </div>
                                <div class="col-auto d-flex flex-nowrap align-items-center gap-2 justify-content-end">
                                    <div *ngIf="post.author.id === userData.id" ngbDropdown class="d-inline-block">
                                        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem (click)="openEditPostModal(post)">Edit</button>
                                            <button ngbDropdownItem class="text-danger" (click)="openDeleteConfirmModal(post.id!)">Delete</button>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p>{{ post.body }}</p>
                            </div>
                            <div>
                                <hr>
                            </div>
                            <div class="row row-cols-1">
                                <div class="col">
                                    <div class="d-flex gap-2">
                                        <i class="bi bi-calendar-event-fill"></i>
                                        <span>{{ post.meetingDatetime | date:"EEE, MMM dd, yyyy 'at' HH:mm" }}</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex gap-2">
                                        <i class="bi bi-geo-alt-fill"></i>
                                        <span>{{ post.placeName }}, {{ post.placeAddress }}</span>
                                    </div>
                                </div>
                                <div class="col mt-2 mb-2">
                                    <div class="row justify-content-evenly">
                                        <div class="col-4 d-flex justify-content-center gap-2">
                                            <i class="bi bi-people-fill"></i>
                                            <span>{{ post.partySize }}</span>
                                        </div>
                                        <div class="col-4 d-flex justify-content-center gap-2">
                                            <i class="bi bi-currency-dollar"></i>
                                            <span>{{ post.costEstimate }}</span>
                                        </div>
                                        <div class="col-4 d-flex justify-content-center gap-2">
                                            <i class="bi bi-currency-exchange"></i>
                                            <div *ngIf="post.costShare === true; else noShare">
                                                <span>~ {{ shareCalculate(post.costEstimate!, post.partySize!) }}</span>
                                            </div>
                                            <ng-template #noShare>
                                                <span>No Sharing</span>
                                            </ng-template>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                            <div class="row row-cols-1">
                                <div>
                                    <app-map [lat]="post.placeLatitude ? post.placeLatitude : 0" [lng]="post.placeLongtitude ? post.placeLongtitude : 0"></app-map>
                                </div>
                              </div>
                            <div class="row row-cols-1 mt-3">
                                <div class="d-flex flex-wrap justify-content-start gap-2">
                                    <span class="badge rounded-pill text-bg-info" *ngFor="let tag of post.tags">{{ tag.tagname }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div *ngIf="post.author.id === userData.id; else notOwnPost">
                                    <button 
                                        class="btn btn-sm btn-outline-primary" 
                                        type="button" 
                                        (click)="openJoinRequestModal(post.id!)"
                                        >
                                        Requests
                                    </button>
                                </div>
                                <ng-template #notOwnPost>
                                    <div *ngIf="checkJoinRequestHasBeenSent(post.id!); else notSent">
                                        <span>Join request has been sent</span>
                                    </div>
                                    <ng-template #notSent>
                                        <button 
                                            class="btn btn-sm btn-outline-primary" 
                                            type="button" 
                                            (click)="openJoinModal(post.id!)"
                                            >
                                            Join
                                        </button>
                                    </ng-template>
                                </ng-template>
                                <button 
                                    class="btn btn-sm btn-outline-secondary" 
                                    type="button" 
                                    (click)="openCommentModal(post.id!)"
                                >
                                    Comments
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-content-center">B Side</div>
    </div>
</div>
