.loading-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 1100;
    align-items: center;
}
  
.site-container {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    /* background: #f1f1f1; */
    overflow: hidden;
}
  
.site-header {
    height: 64px;
}
  
.site-content {
    /* background-color: #25b09b; */
    margin-top: 13px;
    height: calc(100vh - 65px);
    padding: 0;
    overflow: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
    animation: l22 2s infinite linear;
}
.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}
.loader::after {
    margin: 25%;
    animation-duration: 3s;
}
@keyframes l22 {
    100% {transform: rotate(1turn)}
}

